<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/main.css" %}</style>
    <title>{{ title }}</title>
  </head>
  <body >
    <div class="banner">
      {% if breaking.length %}
      {% set item = breaking | first %}
      <span class="announcement-title">{{ item.title }}</span> - {{ item.text | safe }}
      {% endif %}
    </div>
    <div class="container">
      <img src="/images/heart.png" alt="Feel the love" class="heart">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
    {# <script>
      const love = {{ love | dump }};
    </script> #}
  </body>
</html>



