<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/main.css" %}</style>
    <title>{{ title }}</title>
  </head>
  <body >
    <div class="container">
      <h1>{{ title }}</h1>
      {%- if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
      {{ content | safe }}
    </div>
  </body>
</html>



