@import '_variables';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 60%);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  padding-top:0;
  padding-bottom:3em;
  @include bp(mid) {
    font-size: 18px;
  }
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @include bp(mid) {
    width: 600px;
  }
  @include bp(wide) {
    width: 700px;
  }
}


h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  padding-top: 3rem;
  padding-bottom:1rem;
  line-height: 1;
}
h1 {
  font-size: 2.2em;
  line-height: 1;

  @include bp(mid) {
    font-size: 3em;
  }
  @include bp(wide) {
    font-size: 3.5em;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom: solid 1px mix($accent-color, $page-color, 30%);
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom: solid 1px $accent-color;
}

time {
  white-space: nowrap;
}

.list-item-date {
  font-size: 0.8em;
  font-style: italic;
  display:block;
}


code {
  font-size: 0.8em;
  background-color:  mix($accent-color, $page-color, 20%);
  color: $text-color;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}


pre {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.2;
  background-color:  mix($accent-color, $page-color, 10%);
  border: solid 1px mix($accent-color, $page-color, 30%);
  overflow: auto;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top: solid 1px mix($text-color, $page-color, 10%);
  font-size: 0.7em;
  color: mix($text-color, $page-color, 40%);

  a:link,
  a:visited {
    color: mix($text-color, $page-color, 70%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $accent-color;
    border-bottom: solid 1px $text-color;
  }
}
