@import '_variables';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 60%);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  padding-top:0;
  padding-bottom:3em;
  @include bp(mid) {
    font-size: 18px;
  }
}

.banner {
  text-align: left;
  padding: 0.4em 2em;
  background-color: $accent-color;
  color: mix($page-color, $accent-color, 80%);

  a:link,
  a:visited {
    color: $page-color;
    text-decoration: none;
    border-bottom: solid 1px mix($accent-color, $page-color, 50%);
  }
  a:hover,
  a:focus {
    color: $page-color;
    border-bottom: solid 2px $page-color;
  }

}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  width: 90%;
  text-align: left;
  @include bp(mid) {
    width: 600px;
  }
  @include bp(wide) {
    width: 700px;
  }
}


h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  padding-top: 3rem;
  padding-bottom:1rem;
  line-height: 1;
}
h1 {
  display: inline-block;
  font-size: 2.2em;
  line-height: 1;
  @include bp(mid) {
    font-size: 3em;
  }
  @include bp(wide) {
    font-size: 3.5em;
  }
}

.heart {
  display: inline-block;
  width: 2rem;
  padding-right: 0.4rem;
  @include bp(mid) {
    width: 2.8rem;
  }
  @include bp(wide) {
    width: 3.4rem;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tweet {
  border: dashed 6px $accent-color;
  border-radius: 1em;
  padding: 3em;
  margin-top:1em;
  font-size: 1.2em;
  @include bp(mid) {
    font-size: 1.4em;
  }
  @include bp(wide) {
    font-size: 1.5em;
  }
}

.tweet-text {
  line-height: 1.4;
}

.tweet-attribution {
  text-align:right;
  margin-top:1em;
  font-size: 0.8em;
}

.btn-more-love {
  float:right;
  margin-top: 1em;
  margin-right: 1em;
}


a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom: solid 1px mix($accent-color, $page-color, 30%);
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom: solid 1px $accent-color;
}

time {
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}


