---
title: NetlifyLove
layout: layouts/base.njk
---

{%- set item = love | first -%}
<div class="tweet">
  <div class="tweet-text">
  {{ item.text }}
  </div>
  <div class="tweet-attribution">
    — <a href="{{ item.url }}" target="_BLANK" rel="noopener">{{ item.name }}</a>
  </div>
</div>
<a href="https://twitter.com/netlifylove" class="btn-more-love">More love</a>
